<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseExemptionCaliforniaState</key>
	<integer>106</integer>
	<key>BaseDeductionCaliforniaState</key>
	<real>3769</real>
	<key>BaseExemptionFederal</key>
	<real>3900</real>
	<key>BaseDeductionFedral</key>
	<string>6100</string>
</dict>
</plist>
